{{- if .workEmail -}}
[user]
	name = Brentley Jones
	email = brentley.jones@reddit.com
	signingkey = key::{{ joinPath .chezmoi.homeDir ".ssh" (printf "%s.pub" .workSshKey) | include | trim }}
[core]
	sshCommand = ssh -i ~/.ssh/{{ .workSshKey }}
{{ if .isRedditEmployee }}
[url "git@github.snooguts.net:"]
	insteadOf = https://github.snooguts.net/
[url "git@github-staging.snooguts.net:"]
	insteadOf = https://github-staging.snooguts.net/
{{ end -}}
{{ end -}}
