{{- if eq .chezmoi.os "darwin" -}}
#!/opt/homebrew/bin/fish
{{- else -}}
#!/usr/local/bin/fish
{{- end }}

echo '[fish - Configuring Tide]'

tide configure --auto --style=Rainbow --prompt_colors='True color' --show_time='12-hour format' --rainbow_prompt_separators=Angled --powerline_prompt_heads=Sharp --powerline_prompt_tails=Flat --powerline_prompt_style='Two lines, character' --prompt_connection=Disconnected --powerline_right_prompt_frame=No --prompt_spacing=Sparse --icons='Few icons' --transient=Yes
